@font-face{
	font-family: 'MyYuGothicM';
	font-weight: normal;
	src: local('YuGothic-Medium'),local('Yu Gothic Medium'), loacal('YuGothic-Regular');
}
@font-face{
	font-family: 'MyYuGothicM';
	font-weight: bold;
	src: local('YuGothic-Bold'),local('Yu Gothic');
}
html{
	 font-family:
		-apple-system, /* OSX, iOS San Francisco */
		BlinkMacSystemFont, /* OSX, iOS Chrome San Francisco */
		'Hiragino kaku Gothic ProN', /* OSX, iOS hiragino */
		MyYuGothicM,  /* windows yu gothic */
		sans-serif;
	font-size: 14px
}
